@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

table{
    padding: auto;
    margin: auto;
}

.table-rows0{
    background-color: #fefefe;
}

.table-rows1{
    background-color: #f9f9f9;
}

.table-headings{
    text-align: center;
}

.table-container{
    border-spacing: .5em;
}

.table-result{
    text-align: right;
}

td{
    border-radius: 5px 5px;
    padding: 6px;
}

.entry{
    text-align: right;
    border: 1px solid lightsteelblue;
    border-radius: 5px 5px;
    padding: 5%;
    transition: background-color .1s ease-in-out;
    display: inline;
}

.table-final-grade{
    text-align: right;
    border-radius: 5px 5px;
    padding: 5px;
}

.col1{
    width: 30%;
}

.col3, .col4, .col5, .col6, .col7, .col8{
    width: 10%;
    padding: 5px;
}

.entry:hover{
    background-color: #f2f2f2;
    transition: background-color .1s ease-in-out;
}

.entry:active,
.entry:focus{
    border: 2px solid lightskyblue;
    border-radius: 5px 5px;
    outline:none;
}

.btn{
    display: block;
    margin: 3% auto auto;
    outline: none;
    border: 0 solid;
    border-radius: 8px 8px;
    background-color: #548fed;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    color: white;
    transition: .15s ease-in-out;
}

.btn:hover{
    background-color: #89AFDB;
    outline: none;
    border: 0px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .15s ease-in-out;
}

.entry{
    padding-right: 6%;
}

.entry:active,
.entry:focus{
    outline: none;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

