@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
    color: #222;
    font-family: 'Able', sans-serif;
    font-size: 1em;
    background-color: #ededed;
}

table{
    margin: 25px auto auto;
    border-collapse: separate;
    border-spacing: 0 5px;
    font-family: "Roboto", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

td{
    background: #f9f9f9;
    padding: 4px 10px;
}

th{
    text-align: center;
    font-family: "Abel", sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1px 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.assignment-header:hover{
    cursor: pointer;
}

.table-input{
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px 3px;
    outline: none;
    background: #f9f9f9;
}

.table-input:focus{
    border: 1px solid rgba(50, 50, 255, 0.3);
    background: rgb(238, 242, 249);
}

.table-input:hover{
    background: rgb(230, 234, 229);
    transition: 0.08s;
}

.name{
    text-align: left;
    padding-left: 5px;
    width: 150px;
   }

.id{
    text-align: left;
    width: 100px;
    padding-left: 5px;
}

.assignment{
    text-align: right;
    width: 30px;
    padding-right: 5px;
}

.grade{
    text-align: right;
    width: 15%;
}

.name-container{
    width: auto;
    border-radius: 8px 0 0 8px;
}

.id-container{
    width: auto;
}

.assignment-container{
    text-align: right;
    width: auto;
}

.grade{
    width: auto;
    border-radius: 0 8px 8px 0;
}

.btn{
    background: #5286ff;
    color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 3px 3px;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    margin: 5px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover:enabled{
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    transition-timing-function: ease-in-out;
    transition: 0.3s;
    cursor: pointer;
}

.btn:disabled{
    background: #dedee1;
}

.btn:active{
    background: rgb(121, 172, 255);
}

#table-header-row{
    box-shadow: none;
}

#btn-del-col:enabled{
    background: #d73b38;
}
#btn-del-row:enabled{
    background: #d73b38;
}