body {
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-areas: "header header""sidebar main";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 300px 1fr;
    font-family: "Helvetica LT Std", sans-serif;
}

header {
    background-color: #2e2e2e;
    color: whitesmoke;
    grid-area: header;
    text-align: center;
    line-height: 300px;
    font-size: 50pt;
}

aside {
    padding-top: 20px;
    grid-area: sidebar;
    font-weight: bold;
    color: whitesmoke;
    line-height: 6em;
    background-color: #3c3c3c;
    
}

ul {
    position:sticky;
    top: 22%;
    padding-left: 0;
    margin: 0;
}

li {
    --bar-height: 80px;
    list-style-type: none;
    text-align: center;
    line-height: var(--bar-height);
    height: var(--bar-height);
    margin-bottom: 10px;
}

li:hover {
    background-color: #5c5c5c;
    transition: .05s ease-in-out;
}

#main {
    grid-area: main;
    background-color: whitesmoke;
}


.content {
    margin: auto auto;
    margin-top: 120px;
    padding-left: 10%;
    padding-right: 10%;
}

.content > img {
    display: block;
    margin: auto auto;
    width: 100%;
    max-width: 1000px;
    -webkit-filter: drop-shadow(0 20px 20px rgba(0,0,0, 0.2));
    filter: drop-shadow(0 20px 20px rgba(0,0,0, 0.2));
}

.content-header{

}

@media only screen and (max-width: 768px){
    body{
        grid-template-areas: 
        "header"
        "sidebar"
        "main";
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr 1fr;
    }

    aside {
        padding-top: 0;
    }
    
    ul {
        display: block;
    }
    
    li {
        --bar-height: 70px;
        list-style-type: none;
        text-align: center;
        line-height: var(--bar-height);
        height: var(--bar-height);
        margin-bottom: 10px;
    }


}