@charset "utf-8";

body{
	color: #2F2F2F;
	background-color: #F5F5F5;
	font-family: "Roboto", sans-serif;
	margin: 0;
	margin-bottom: 250px;
}

/*
div{
	border: 1px solid black;
	border-radius: 5px 5px;
}
*/

.flexbox{
	margin: auto auto;
	display: flex;
	align-items: center;
}

#flex-header{
	width: 1000px;
}

#header{
	background-color: #2F2F2F;

}


#header-title{
	flex-grow: 1;
	text-align: center;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
	font-size: 75px;
	color: #E5E5E5;
	text-shadow: 2px 2px black;
}

#header-logo > img{
	margin: auto auto;
	display: block;
	height: 60%;
	width: 60%;
	-webkit-filter: drop-shadow(2px 2px #D1D1D1);
}

#tabs{
	justify-content: center;
	margin-top: 25px;
}

#tabs > div > a{
	padding:7px;
	margin: 10px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: bold;
	font-size: 26px;
	background-color: #6440A3;
	color: #E5E5E5;
	border: 0;
	border-radius: 10px 10px;
}

#tabs > div > .disabled{
	background-color: #E1E1E1;
	color: #C4C4C4;
}

#tabs > div > :not(.disabled):hover{
	background-color: #A184D4;
	transition: .1s ease;
	cursor: pointer;
}

#intro{
	margin: auto auto;
	width: 800px;
	margin-top: 50px;
	font-style: italic;
	line-height: 1.5em;
	font-size: 18px;
	text-align: justify;
    text-justify: inter-word;
	color: #727272;
}

#title1{
	text-align: center;
	margin: auto auto;
	margin-top: 50px;
	font-size: 36px;
	width: 800px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: bold;
}

#panels{
	margin: auto auto;
	margin-top: 50px;
	width: 1000px;
}

.panel{
	width: 400px;
	height: 500px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #E1E1E1;
	padding: 20px;
	flex-direction: column;
	justify-content: center;
	border: 0;
	border-radius: 10px 10px;
/*	box-shadow: 2px 5px 5px rgba(0,0,0, 0.2)*/
}

.panel-title{
	margin-bottom: 25px;
	font-size: 25px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: bold;
}

.panel-img{
	height: 250px;

}

.panel-img > img{
	max-width: 100%;
	height: auto;
}


.panel-text{
	margin-top: 20px;
	line-height: 1.3em;
	text-align: justify;
    text-justify: inter-word;
	font-size: 15px;
}


#panel-flex{
	justify-content: center;
}

#buttons{
	justify-content: flex-end;
	width: 800px;
	padding-top: 50px;
	font-size: 36px;
	margin: auto auto;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: bold;
	color: #6440A3;
}

.next-step:hover{
	color: #A184D4;
	cursor: pointer;
}

	
.previous-step:hover{
	color: #A184D4;
	cursor: pointer;
}

.next-step > a{
	color: rgb(119, 58, 226);
}

.next-step:hover > a{
	color: #A184D4;
	cursor: pointer;
}
.previous-step > a{
	color: rgb(119, 58, 226);
}
	
.previous-step:hover > a{
	color: #A184D4;
	cursor: pointer;
}
a{
	text-decoration: none;
}
