body {
    margin: 0;
    display: grid;
    grid-template-areas: "header header""sidebar main";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 300px 1fr;
    font-family: "Helvetica LT Std", sans-serif;
    background-color: whitesmoke;
}

header {
    background: linear-gradient(-45deg, rgba(24, 24, 24, 0) 0%,rgba(63, 63, 63, 0.685) 100%);
    background-color: black;
    color: whitesmoke;
    grid-area: header;
    text-align: center;
    line-height: 300px;
    font-size: 50pt;
    font-weight: 100;
}

aside {
    grid-area: sidebar;
    font-weight: bold;
    color: whitesmoke;
    line-height: 6em;
    background-color: #313131;
}

a{
    text-decoration: none !important;
}

ul {
    position:sticky;
    list-style-type: none;
    top: 10px;;
    padding-left: 0;
    margin: 0;

}

li {
    --bar-height: 80px; 
    text-align: center;
    line-height: var(--bar-height);
    height: var(--bar-height);
    color: whitesmoke;
    font-weight: 100;
    font-size: 18pt;
}

li:hover {
    background-color: #5c5c5c;
    transition: .05s ease-in-out;
}

#main {
    grid-area: main;
    margin-bottom: 150px;
}


.content {
    margin: auto auto;
    margin-top: 75px;
    padding-left: 10%;
    padding-right: 10%;
}

.content > img {
    display: block;
    margin: auto auto;
    width: 100%;
    max-width: 850px;
    -webkit-filter: drop-shadow(0 20px 20px rgba(0,0,0, 0.2));
    filter: drop-shadow(0 20px 20px rgba(0,0,0, 0.2));
}

.content-header{
    margin-top: 75px;
    font-size: 28pt;
    font-weight: 100;
    /* border-bottom: 2px solid black; */
    display: inline-block;
    font-style: italic;
    color: rgb(151, 151, 151);
}

#wrapper{
    text-align: center;
}

.regular{
    font-weight: 500;
}

@media only screen and (max-width: 768px){
    body{
        grid-template-areas: 
        "header"
        "sidebar"
        "main";
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr 1fr;
    }

    header{
        font-size: 32pt;
    }
    aside {
        padding-top: 0;
    }
    
    ul {
        display: block;
    }
    
    li {
        --bar-height: 70px;
        list-style-type: none;
        text-align: center;
        line-height: var(--bar-height);
        height: var(--bar-height);

    }


}